*~
auto-save-list
eshell/history
eshell/lastdir
tramp
uptimes
*.elc
davep/autoloads.el
davep/autoloads.elc
davep/autoloads-3rd-party.el
davep/autoloads-3rd-party.elc
history
archive-contents
url/
emojis/
.DS_Store

